.App {
  text-align: center;
}

/* .fbpost{
  margin: 15px 0px 15px 0px !important;
} */

.fbname{ 
  font-size: 15px !important; 
  font-weight: 600 !important;
  margin-left: -5px !important; 
}

.fbdate{ 
  font-size: 13px !important; 
  font-weight: 500 !important;
  margin-left: -5px !important; 
}

.fbdesc{ 
  font-size: 15px !important; 
  letter-spacing: -0.03em !important;
  /* font-weight: 500 !important; */
}

@media (max-width:500px) { .fbdesc{
  font-size: 13px !important; 
}}

.fblikes{
  margin: 3px 0px 12px 15px !important;
  font-size: 13px !important; 
}

@media (max-width:500px) { .fblikes{
  font-size: 11px !important; 
}}

.fbbtns{ 
  font-size: 15px !important; 
  color: rgba(80, 80, 80, 0.849) !important;
  text-transform: capitalize !important;
  flex-grow: 1 !important; 
  /* letter-spacing: -0.03em !important; */
  /* font-weight: 400 !important; */
}

.fbreactsDiv{
position: absolute !important;
width: 258px !important;
height: 43px !important;
border-radius: 100px !important;
padding: 3px 0px 0px 0px !important;
/* border: 1px black solid !important; */
/* margin-bottom: 30px !important; */
/* top: 80px !important; */
margin-top: -43px !important;
margin-left: -4px !important;
}

.fbreacts{
  margin: 0px 3px 0px 3px !important;
}

@media (max-width:500px) { .btntext{
  display: none !important;
}}

.nomargin{
  margin: -5px -8px -20px -8px !important;
}


/* @media (max-width:500px) { .logoutbtn { 
  font-size: 27px;
} */